<a href="https://colab.research.google.com/github/NapoliD/SQL_Python-/blob/main/SQL_ETL_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [45]:
import sqlite3
import os
import pandas as pd
import plotly.express as px
import numpy as np
from pandas import DataFrame

In [10]:
csv = os.listdir(contenido)
archivos_a_procesar = [x for x in csv if "csv" in x]
archivos_a_procesar

['data.csv']

In [11]:
for x in archivos_a_procesar:
        b=x.replace(".csv", "")
        print('Name file: '+b)
        print(x)
        locals()[str(b)]=pd.read_csv(x,encoding= 'unicode_escape')

Name file: data
data.csv

In [10]:
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [37]:
conn = sqlite3.connect('TestDB.db')  # Crear base
con = conn.cursor()

In [48]:
# create dataset
Customer = {'Id' : [1,2,3,4,5],
         'Name' : ['A','B','C','D','E']
         }  
Sales = {'Id_customer' : [1,2,3,4,5],
         'UnitPrice' : [10,20,40,60,10],
         'Quantity' : [2,3,8,7,6],
         'Date' : ['2020-12-01','2020-12-01','2020-12-02','2020-12-02','2020-12-02']

         }

In [30]:
Customer=pd.DataFrame(Customer)
Customer.to_sql('Customer2', conn, index = False)#if_exists='append'

In [53]:
parse_dates=['Date']
Sales=pd.DataFrame(Sales)
Sales['Date']=pd.to_datetime(Sales['Date'])
Sales
Sales.to_sql('Sales', conn,if_exists='replace', index = False)#if_exists='append'

In [61]:
#SELECT strftime('%H %M %S %s','now')
sql_command = "SELECT strftime('%m' , Date) as month, strftime('%Y' , Date) as Year from Sales ;" 
#sql_command='SELECT schema_name FROM information_schema.schemata;'
table_name = pd.read_sql(sql_command, conn)
table_name

  month  Year
0    12  2020
1    12  2020
2    12  2020
3    12  2020
4    12  2020

In [44]:
sql_command = "SELECT Customer2.*, Sales.*, (Quantity*UnitPrice) as total  FROM Customer2 join Sales on Sales.Id_customer=Customer2.Id where UnitPrice>10 ;"
#sql_command='SELECT schema_name FROM information_schema.schemata;'
table_name = pd.read_sql(sql_command, conn)
table_name

   Id Name  Id_customer  UnitPrice  Quantity  total
0   2    B            2         20         3     60
1   3    C            3         40         8    320
2   4    D            4         60         7    420

In [47]:
fig = px.bar(table_name, x="Name", y="total",  title="")#color="ParticipantCount",
fig.show()

In [14]:
data.to_sql('CUSTOMER', conn, index = False)#if_exists='append'

In [15]:
sql_command = "SELECT * FROM CUSTOMER;"
#sql_command='SELECT schema_name FROM information_schema.schemata;'
table_name = pd.read_sql(sql_command, conn)
table_name

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [18]:
sql_command = "SELECT count(distinct CustomerID),	Country FROM CUSTOMER group by Country;"
#sql_command='SELECT schema_name FROM information_schema.schemata;'
table_name = pd.read_sql(sql_command, conn)
table_name

    count(distinct CustomerID)               Country
0                            9             Australia
1                           11               Austria
2                            2               Bahrain
3                           25               Belgium
4                            1                Brazil
5                            4                Canada
6                            9       Channel Islands
7                            8                Cyprus
8                            1        Czech Republic
9                            9               Denmark
10                           3                  EIRE
11                           1    European Community
12                          12               Finland
13                          87                France
14                          95               Germany
15                           4                Greece
16                           0             Hong Kong
17                           1               Iceland
18                           4                Israel
19                          15                 Italy
20                           8                 Japan
21                           1               Lebanon
22                           1             Lithuania
23                           2                 Malta
24                           9           Netherlands
25                          10                Norway
26                           6                Poland
27                          19              Portugal
28                           1                   RSA
29                           1          Saudi Arabia
30                           1             Singapore
31                          31                 Spain
32                           8                Sweden
33                          21           Switzerland
34                           4                   USA
35                           2  United Arab Emirates
36                        3950        United Kingdom
37                           4           Unspecified

In [15]:
c.execute('''
SELECT *
FROM TERRITORY
          ''')

In [ ]:
import sqlite3
import os
import pandas as pd
import numpy as np
from pandas import DataFrame
#indicar ruta en donde se encuentran los CSV
os.chdir('//media/diego/Solido/Challenge_Innovation_Strategies/verificar')
contenido=os.chdir('//media/diego/Solido/Challenge_Innovation_Strategies/verificar')
csv = os.listdir(contenido)
archivos_a_procesar = [x for x in csv if "csv" in x]
archivos_a_procesar

for x in archivos_a_procesar:
        b=x.replace(".csv", "")
        print(b)
        print(x)
        locals()[str(b)]=pd.read_csv(x)

SalesOrderHeader['OrderDate']= pd.to_datetime(SalesOrderHeader['OrderDate'])
SalesOrderHeader['CurrencyRateID']=np.where(SalesOrderHeader['CurrencyRateID'].isna(),0, SalesOrderHeader['CurrencyRateID'])

#Dolar
#Add new ROW
CurrencyRate=CurrencyRate.append({'CurrencyRateID' : 0 , 'CurrencyRateDate' : 0, 'FromCurrencyCode' : 'USD' , 'ToCurrencyCode' : 'USD', 'AverageRate' : 1 , 'EndOfDayRate' : 1 , 'ModifiedDate' : '01/05/2011'} , ignore_index=True)


diasdiarios= pd.to_datetime(SalesOrderHeader['OrderDate'].unique())
diasdiarios=pd.DataFrame(diasdiarios)
diasdiarios=diasdiarios.rename(columns={0:'OrderDate'})

Product=Product.loc[:,['ProductID', 'Name', 'ProductNumber', 'MakeFlag',]]


conn = sqlite3.connect('TestDB.db')  # Crear base
c = conn.cursor() 
SalesTerritory.to_sql('TERRITORY', conn, if_exists='append', index = False)
diasdiarios.to_sql('diasdiarios', conn, if_exists='append', index = False)
Customer.to_sql('CUSTOMER', conn, if_exists='append', index = False)
SalesOrderHeader.to_sql('SalesOrderHeader', conn, if_exists='append', index = False) 
ShipMethod.to_sql('ShipMethod', conn, if_exists='append', index = False) 
CurrencyRate.to_sql('CurrencyRate', conn, if_exists='append', index = False) 
SalesOrderDetail.to_sql('SalesOrderDetail', conn, if_exists='append', index = False) 
Product.to_sql('Product', conn, if_exists='append', index = False)


c.execute('''
SELECT *
FROM ShipMethod
          ''')